body{
    background-color: rgb(118, 118, 182);
    color: rgb(210, 210, 240);
    font: normal 15pt Arial;
}
a{
    color: rgb(40, 40, 94);
    text-decoration: none;
    font: normal 10pt Arial;
}

p, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}