@charset "UTF-8";

body {
    height: 571px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6C8EBE;
    color: aliceblue;
}

header {
    width: 100%;
    font-size: 3em;
    text-align: center;
    margin: 30px 0px 30px 0px;    
}

section{
    background-color: aliceblue;
    color: black;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);

}

div {
    background-color: #cae3f8;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
}

footer {
    font-style: italic;
    width: 100%;
    text-align: center;
    margin: 90px 0px 10px 0px;
}
#res {
    background-color: #c3dbf0;
    border-radius: 0px 0px 10px 10px;
}

a{
    text-decoration: none;
    color: black;
    background-color: #cae3f8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}
a:hover{
    background-color: aliceblue;
    font-size: 1.2em;
    padding: 14px 7px;
}